$noticias-max-width: $grid;

.noticias{
  align-content: center;
  margin: auto;
  max-width: $noticias-max-width;
  position: relative;
  z-index: 5;  
}

.noticias__title{
  font-family: $font-family-first;
  font-size: 2rem;
  text-align: center;
  padding: 0 2rem 3rem 2rem;
}

.noticias__text{
  color: gray;
  font-family: $font-family-second;
  font-size: 1rem;
  padding: 2rem 3rem 3rem 3rem;
  text-align: justify;
}

.noticias__divimg{
  text-align: center;
  width: 100%;
}

.noticias__img{ 
  padding: 0 3rem 0 3rem;
  width: 100%;
}

@media #{$breakpoints-medium} {
  .noticias__title{
    font-size: 3rem;
  }

  .noticias__text{
    font-size: 1.8rem;
    padding: 2rem 10rem 3rem 10rem;
  }

  .noticias__img{
    height: 25rem;
    width: 30rem;
  }
}

@media #{$breakpoints-large} {
  .noticias__title{
    font-size: 3rem;
  }

  .noticias__text{
    font-size: 1.8rem;
    padding: 2rem 10rem 3rem 10rem;
  }

  .noticias__img{
    height: 25rem;
    width: 30rem;
  }
}

@media #{$breakpoints-xlarge} {

}